code/data/coil-20/
code/data/raw/.cache/
code/data/raw/coil-20/
code/data/raw/pbmc3k*.h5ad
code/data/raw/mnist.hdf5

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz(busy)
*.pdf
*.bbl
*.blg
notes/